<div class="container">
  <div class="jumbotron bg-white text-center">
    <h1>TRACKER UPDATE</h1>
    <app-dashboard-card [totalConfirmed]="totalConfirmed" [totalActive]="totalActive" [totalDeath]="totalDeath" [totalRecovered]="totalRecovered"></app-dashboard-card>


    <!------------Radio buttons ------->
    <h2 style ="padding-top:8px">Select Case Type </h2>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input cursor" value="c" id="c" #c (click)="updateChart(c)" name="casetype">
      <label class="form-check-label" for="c">Confirmed</label>
    </div>

    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input cursor" value="d" id="d" #d (click)="updateChart(d)" name="casetype">
      <label class="form-check-label" for="d">Deaths</label>
    </div>

    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input cursor" value="r" id="r" #r (click)="updateChart(r)" name="casetype">
      <label class="form-check-label" for="r">Recovered</label>
    </div>

    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input cursor" value="a" id="a" #a (click)="updateChart(a)" name="casetype">
      <label class="form-check-label" for="a">Active</label>
    </div>
    <!----------  End of Radio buttons  ----------------->


   
    <!------ Google Chart Template ------>
    <div class ="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-12">
        <google-chart [type]="chart.PieChart" [data]="datatable" [options]="chart.options" [height]="chart.height" style ="width:100%"></google-chart>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-9 col-xl-10">
        <google-chart [type]="chart.ColumnChart" [data]="datatable" [options]="chart.options" [height]="chart.height" style ="width:100%"></google-chart>
      </div>
    </div>
    <!-------- End of Google chart ------------>
  
  </div>
</div>
<app-footer></app-footer>