<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Covid-19 Tracker Countries Wise</h1>
    <hr>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, amet obcaecati fugit recusandae sunt
        eius aliquam consectetur! Ipsum fugit explicabo, quibusdam, vitae nostrum totam amet minima culpa quaerat
        numquam hic? </p>
    <hr class ="my-4">
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, numquam sunt culpa laboriosam
        possimus excepturi consequatur autem nemo molestias veritatis expedita dolorem sit eaque maxime doloremque
        porro, magni odio cupiditate.
    </p>

</div>