<div class="container">
    <div class="jumbotron bg-white text-center">
        <h1 class="display-4">Covid-19 Tracker Country Wise</h1>
        <hr>
        <div class="row">
            <div class="col">
                <div class="form-group col-lg-5 max-auto text-center">
                    <label for="country">Select Country</label>
                    <select name="" class="form-control" id="country" #input (change)="SELECETD_COUNTRY_UPDATE(input.value)">
                        <option value="{{item}}" *ngFor="let item of COUNTRIES">{{item}}</option>
                    </select>
                </div>
            </div>
          
        </div>
    
        <app-dashboard-card [totalConfirmed]="totalConfirmed" [totalActive]="totalActive" [totalDeath]="totalDeath"
            [totalRecovered]="totalRecovered"></app-dashboard-card>
        
            <div style ="padding-bottom:12px"></div>
    
        <div class="row">
            <!------- Google chart ----------->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <google-chart [type]="chart.LineChart" [data]="datatable" [options]="chart.options" [height]="chart.height" style ="width:100%"></google-chart>
            </div>
            <!-------End Of Google chart-=------>
            
            <!------- Start of Table ----------->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sno.</th>
                            <th>Dates</th>
                            <th>Cases</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr *ngFor="let item of selectedDatewise; index as i">
                            <td>{{i+1}}</td>
                            <td>{{item.date | date}}</td>
                            <td>{{item.case}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!----------- End Of Table ------------------>
        
        </div>
    </div>
</div>

<app-footer></app-footer>